<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.cmos.web.dao.sys.SysLogDao">
    <resultMap id="SysLogResultMap" type="com.cmos.web.beans.sys.SysLog" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="log_type_name" property="logTypeName" jdbcType="VARCHAR" />
        <result column="sys_log_module" property="sysLogModule" jdbcType="VARCHAR" />
        <result column="sys_log_methods" property="sysLogMethods" jdbcType="VARCHAR" />
        <result column="sys_log_result" property="sysLogResult" jdbcType="VARCHAR" />
        <result column="sys_log_ip" property="sysLogIp" jdbcType="VARCHAR" />
        <result column="log_handle_times" property="logHandleTimes" jdbcType="INTEGER" />
        <result column="log_create_date" property="logCreateDate" jdbcType="TIMESTAMP" />
        <result column="sys_log_desc" property="sysLogDesc" jdbcType="VARCHAR" />
        <result column="log_error_msg" property="logErrorMsg" jdbcType="VARCHAR" />
        <result column="log_create_user" property="logCreateUser" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 添加方法 -->
    <insert id="insert" parameterType="com.cmos.web.beans.sys.SysLog"
            useGeneratedKeys="true"  keyProperty="id">
        insert into sm_sys_log
        (log_type_name,sys_log_module,sys_log_methods,sys_log_result,sys_log_ip,
        log_handle_times,log_create_date,sys_log_desc,log_error_msg,log_create_user
        )
        values (
        #{logTypeName},#{sysLogModule},#{sysLogMethods},#{sysLogResult},#{sysLogIp},
        #{logHandleTimes},#{logCreateDate},#{sysLogDesc},#{logErrorMsg},#{logCreateUser}
        )
    </insert>
</mapper>