<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.cmos.web.dao.UserDao">
    <select id = "selectByMap" resultType="java.util.Map" >
        SELECT * FROM be_user where user_id = #{id};
    </select>

    <select id = "getListByMap" parameterType="java.util.Map" resultType="java.util.Map" >
        SELECT user_id userId,real_name realName FROM be_user
    </select>
</mapper>